/* dashier ist einfach als bsp. das alle Elemente, weis werden, */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {  
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Dieser CSS Code nimmt die div mit der id Container und macht sie in die mitte und weiß */
#content {
	animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.small {
	font-size: 25px;
}
#alert{
	display: inline-block;
}
.top-right{
	position: absolute;
	right: 50px;
	top: 50px;
}
.top-left{
	position: absolute;
	left: 50px;
	top: 50px;
}
.middle-right{
	position: absolute;
	right: 50px;
	top: 47%;
}
.middle-left{
	position: absolute;
	left: 50px;
	top: 47%;
}

.bottom-left{
	position: absolute;
	left: 50px;
	bottom: 50px;
}
.bottom-right{
	position:absolute;
	right: 50px;
	bottom: 50px;
}
.dialog-place{
	left: 47%;
	top: 50%;
}
.block{ display: block!important; }.round{border-radius: 15px;}.text-center{text-align: center;}
.header{
	margin-left: 5px;
	width: 5vw;
	float:left;
	/*border-right: 1px solid gray;*/
}
.body{
	margin-left: 3px;
	float:right;
	text-overflow: clip;
}

.darkblue{
	border: 2px solid #008b844b;
	padding: 10px;
	color:#258f8f;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1069%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L275.64 0L0 151.01z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 151.01L275.64 0L575.14 0L0 241.37z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 241.37L575.14 0L893.23 0L0 361.54z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 361.54L893.23 0L1144.17 0L0 436.76z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1156.8600000000001 560L1440 324.56z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 324.56L1156.8600000000001 560L946.5300000000001 560L1440 309.08z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 309.08000000000004L946.53 560L938.22 560L1440 149.44000000000005z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 149.44000000000005L938.22 560L584.44 560L1440 55.70000000000006z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1069'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0.63)' offset='0.39'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0.63)' offset='0.51'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0.63)' offset='0.52'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0.63)' offset='0.54'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0.63)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.darkred{
	border: 2px solid rgba(139, 0, 0, 0.295);
	padding: 10px;
	color: #d81c1c;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1620%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1621%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L275.64 0L0 151.01z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 151.01L275.64 0L575.14 0L0 241.37z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 241.37L575.14 0L893.23 0L0 361.54z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 361.54L893.23 0L1144.17 0L0 436.76z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1156.8600000000001 560L1440 324.56z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 324.56L1156.8600000000001 560L946.5300000000001 560L1440 309.08z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 309.08000000000004L946.53 560L938.22 560L1440 149.44000000000005z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 149.44000000000005L938.22 560L584.44 560L1440 55.70000000000006z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1620'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1621'%3e%3cstop stop-color='rgba(71%2c 14%2c 14%2c 0.82)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 6%2c 0%2c 0.63)' offset='0.39'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 0%2c 0%2c 0.63)' offset='0.44'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 0%2c 0%2c 0.63)' offset='0.47'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 0%2c 0%2c 0.63)' offset='0.52'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 0%2c 0%2c 0.63)' offset='0.54'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 0%2c 0%2c 0.63)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.style3{
	border: 2px solid #95ffff4b;
	padding: 10px;
	color: white;
	background: rgba(174,237,238,0.3);
	background: linear-gradient(3deg, rgba(174,237,238,0.5) 0%, rgba(0,117,255,0.5) 100%);
}

/* auf zur index.html im div! */